<div id="login">
  <div id="logo" class="clearfix"></div>
  <div id="booth"></div>

  <div id="user-login">

      <div class="field top">
        <%= label_tag :name %>
        <%= text_field_tag :name %>
      </div>

      <div class="field">
        <%= label_tag :description %>
        <%= text_field_tag :description %>
      </div>

      <div class="field bottom">
        <%= label_tag :twitter %>
        <span class="at">@</span><%= text_field_tag :twitter %>
      </div>

      <div class="actions button">
      <%= button_tag "Let's do this!" %>
      </div>

  </div>
</div>
