<div id="login">
  <div id="logo" class="clearfix"></div>
  <div id="booth"></div>

  <div id="user-login">

    <%= form_for @user, :remote => true do |f| %>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

      <div class="field top">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>

      <div class="field">
        <%= f.label :description %>
        <%= f.text_field :description %>
      </div>

      <div class="field">
        <%= f.label :looking_for, "Why are you here?" %>
        <%= f.select(:looking_for, [["Looking to hire", "Looking to hire"], ["Looking to get hired", "Looking to get hired"], ["Looking for a happy time", "Looking for a happy time"], ["Looking to Collaborate", "Looking to Collaborate"]]) %>
      </div>

      <div class="field bottom">
        <%= f.label :twitter %>
        <span class="at">@</span><%= f.text_field :description %>
      </div>

      <div class="actions button">
      <%= f.submit "Let's do this!" %>
      </div>
    <% end %>

  </div>
</div>
