<div></div>
<div id="logo"></div>
<div id="booth"></div>

<div id="user-login">

  <%= form_for @user, :remote => true do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
    </div>

    <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
    </div>

    <div class="field">
    <%= f.label :looking_for %>
    <%= f.select(:looking_for, ["Looking to hire", "looking to get hired", "Looking for a happy time"]) %>
    </div>

    <div class="actions">
    <%= f.submit "Let's do this!" %>
    </div>
  <% end %>

</div>
