<h1><%= @event_name %></h1>
<h2><%= @event_users_count %> people to meet.</h2>

<% @event_users.each_with_index do |user, index| %>
  <div class="user <%= index %>">
    <%= image_tag user.photo %>
    <%= user.name %>
    <%= user.description %>
    <%= user.looking_for %>
  </div>
<% end %>